@mixin no-collapse {
    .nav-justified {
        >li {
            display: table-cell;
            width: 1%;
        }
        >a {
            margin-bottom: 0;
        }
    }
}

@mixin full-height {
    .full-height {
        height: 90vh;
    }
}

@mixin text-bottom {
    header {
        position: relative;

        h1 {
            position: absolute;
            bottom: 0;
            padding-bottom: 150px;
        }
    }
}

@mixin nav-shadow {
    box-shadow:
        -6px 0 #fff,
        6px 0 #fff,
        0 3px 6px rgba(0, 0, 0, 0.16);
}

@mixin sec-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}