@mixin no-collapse {
    .nav-justified {
        >li {
            display: table-cell;
            width: 1%;
        }
        >a {
            margin-bottom: 0;
        }
    }
}

@mixin full-height {
    .full-height {
        height: 100vh;
    }
    ;
}

@mixin text-bottom {
    .row {
        position: relative;
    }

    header h1 {
        bottom:20px;
    }
}