@import "base";
@import "mixins";

@include text-bottom;
@include full-height;

body {
    position: relative;
    font-color: $color__text;
    padding-top: 100px;
}

//Retina display emulation
// body {
//   zoom: 200%;
//   -moz-transform: scale(2);
//   -moz-transform-origin: 0 0;
// }

p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

a,
a:hover,
a:focus {
    color: $color__text;
}

nav,
.navbar-default {
    background-color: $color__background;
    border: none;
}

nav {
    >.container {
        border-top: 1px $color__text solid;
        border-bottom: 1px $color__text solid;
        height: 70px;

        ol {
            margin-top: 15px;
        }
    }

    li.active a {
        text-decoration: underline;
    }
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: $color__background;
}

nav.navbar {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

span {
    color: $color__emphasis;
}

.active {
    text-decoration: underline;
}

.bio,
.work,
.contact {
    padding-top: 50px;
    padding-bottom: 35px;

    h1 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


.bio {
    z-index: 1;
    position: relative;
    @include sec-shadow;


    .about-info {
        >div {
            margin-bottom: 20px;
        }

        h2 {
            padding-bottom: 5px;
        }
    }
}

.work {
    z-index: -1;
    @include sec-shadow-inset;
    background-color: $color__background-work;

    
}

footer {
    small>p {
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 1.25;
    }
}









/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/*==========  Mobile First  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    @include no-collapse;

    .navbar-default {
        min-height: 100px;
        font-size: calc-em(18);
        padding-top: 25px;
    }

    nav.shrink {
        min-height: 50px;
        padding-top: 5px;
        border: none;
        @include nav-shadow;

        >.container {
            border: none;
            height: 50px;
        }

        ol {
            margin-top: 3px;
        }
    }

    h1 {
        font-size: 36px;
        padding-right: 10px;
    }

    .bio {
        .img {
            padding-bottom: 40px;

            img {
                width: 65%;
            }
        }
    }

    .work {}

    .contact {
        .social>div img {
            width: 50%;
        }
    }
}





/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    @include no-collapse;
}





/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}





/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    p {
        font-size: 20px;
    }
    nav {
        li:hover {
            text-decoration: underline;
        }
    }

    .contact {
        .social>div img {
            //width: 40%;
        }
    }
}




/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .contact {
        .social>div img {
            width: 40%;
        }
    }
}