header {
  position: relative; }
  header h1 {
    position: absolute;
    bottom: 0;
    padding-bottom: 150px; }

.full-height {
  height: 90vh; }

body {
  position: relative;
  height: 100%;
  font-color: #050505;
  padding-top: 100px; }

p {
  font-size: 16px; }

a,
a:hover,
a:focus {
  color: #050505; }

nav,
.navbar-default {
  background-color: #ffffff;
  border: none; }

nav > .container {
  border-top: 1px #050505 solid;
  border-bottom: 1px #050505 solid;
  height: 70px; }
  nav > .container ol {
    margin-top: 15px; }

nav li:hover,
nav li:focus {
  text-decoration: underline; }

nav li.active a {
  text-decoration: underline; }

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #ffffff; }

nav.navbar {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

span {
  color: #8cf939; }

.bio,
.work,
.contact {
  padding-top: 50px; }
  .bio h1,
  .work h1,
  .contact h1 {
    padding-top: 50px;
    padding-bottom: 50px; }

.bio {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 1; }

.work {
  background-color: #F7FBFA;
  z-index: 0; }

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%; }
  .nav-justified > a {
    margin-bottom: 0; }
  .navbar-default {
    min-height: 100px;
    font-size: 1.125em;
    padding-top: 25px; }
  nav.shrink {
    min-height: 50px;
    padding-top: 5px;
    border: none;
    box-shadow: -6px 0 #fff, 6px 0 #fff, 0 3px 6px rgba(0, 0, 0, 0.16); }
    nav.shrink > .container {
      border: none;
      height: 50px; }
    nav.shrink ol {
      margin-top: 3px; }
  h1 {
    font-size: 36px; }
  .bio .img {
    padding-bottom: 40px; }
    .bio .img img {
      width: 65%; }
  .contact .social > div img {
    width: 50%; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%; }
  .nav-justified > a {
    margin-bottom: 0; } }

/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
